* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("checklist.jpg");
}

.dodawanie {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

input {
    min-height: 30px;
    margin-right: 20px;
    border: 1px solid black;
    background-color: antiquewhite
}

input:focus {
    background: grey;
}

.add {
    padding: 10px 20px;

    border: 2px solid black;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 0 2px white;
    overflow: hidden;
    color: black;
}

.add:hover {
    color: white;
    background: black;
    transition: 0.3s;
}

.wyswietl {
    margin-top: 50px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}

ul {
    font-size: 25px;
    color: red;
    list-style: none;
}

ul button {
    font-size: 20px;
    padding: 5px;
    color: black;
    margin-left: 10px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 25%;
    background-color: transparent;
}
